* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {

    background-color: #448144;
    background-image: url(https://images.unsplash.com/photo-1523261473917-312105e299c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=376&q=80); 
    

}

main {

    background-color: white;
    width: 600px;
    margin-left: 390px;
    margin-top: 40px;
    padding: 45px;
    box-shadow: 3px 3px 5px rgba(0, 0,0.473);
    
}