@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


body 
{
    
    background-color: #1a1040f3;   

}

main {

    min-width: 300px;
    max-width: 1200px;
    width: 800px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: -80px;    
    
}

aside
{
    width: 600px;
    height: 140px;       
      
}

h1.header
{
    text-align: center;
    padding-top: 5px; 
           
}

h2.article
{
    text-align: center;
    padding-top: 8px;
}

h2.aside
{
    text-align: left; 
    margin-left: 180px;   
    padding-top: 8px;
}

p
{
    text-indent: 10px;
    margin-left: 9px;
    margin-right: 9px;
    text-align: justify;    
    
}

footer
{
    background-color: rgba(211, 211, 211, 0.589);
    margin-left: -7px;
    margin-right: -7px;
    margin-top: 26.2px;
}

p#footer
{
    text-align: center;
}

img#direito
{
    
    height: 120px;
    margin-left: 30px;
    
}

img#esquerdo
{
    height: 115px;
    margin-left: 1050px;
}

li
{
    line-height: 23px;
    padding-top: 2.4px;
    
}

img#guanabara
{
    height: 80px;
    margin-top: -15px ;
    margin-left: 240px;
}
div.rio
{
    margin-top: -80px;
    margin-left: 510px;

}
img#tacario
{
    height: 60px;  

}
h2#lado
{
    margin-top: -32px;    
    padding-left: 458px;
}

a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.582);
}

a:hover
{
    text-decoration: underline;
    color: rgba(236, 60, 60, 0.952);
}

table
{
    margin: auto;
    width: 500px;
    background-color: rgb(243, 243, 243);
    min-width: 300px;
    max-width: 800px;
}

col#position
{
    width: 10px;
    
}

col#logo
{
    width: 45px;    
}

col#clube
{
    width: 140px;
}

col#pontos
{
    width: 60px;
}

td
{
    text-align: center;
}

td.position
{
    text-align: center;
}

td.rebaixado
{
    background-color: red;
}

td.logo
{
    text-align: center;
}

td.name
{
    text-align: center;
}

